.navbar-nav :hover {
  /* transform: scale(1.1); */
  color: rgb(204, 23, 23);
}
.nav-item :hover {
  color: red;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
@media screen and (min-width: 1000px) {
  .enable {
    margin-left: 6000px;
  }
}
